{
  "presets":  ["es2015", "react", "stage-0"],
  "plugins":  [
    ["oxygen-css", {
      "vendorPrefixes": true,
      "prefix": "omd",
      "compressClassNames": true,
      "bundleFile": "lib/bundle.css",
      "context": "./lib/Styles/index.js",
      "mediaMap": {
        "phone": "media only screen and (max-width: 767px)",
        "tablet": "media only screen and (min-width: 768px) and (max-width: 959px)",
        "desktop": "media only screen and (min-width: 960px)"
      }
    }],
    ["transform-async-functions"],
    ["transform-async-to-generator"],
    ["transform-export-extensions"],
    ["transform-class-properties"],
    ["transform-object-rest-spread"]
    ]
}
